[submodule "src/external_libs/glfw"]
	path = src/external_libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/external_libs/glew"]
	path = src/external_libs/glew
	url = https://github.com/nigels-com/glew.git
